<!DOCTYPE html>  
<html lang="en">  
<head>  
    <title>Authentication</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
</head>  
<body>  
<script type="text/javascript">
   var user = <%- JSON.stringify(user) %>;
   console.log(settings.env);
   var urlForProduction = 'https://secure-atoll-22074.herokuapp.com';
   window.opener.postMessage(user, urlForProduction);
   window.close();
</script>
</body>  
</html>